.main-div-header {
  gap: 1.5rem;
}
.main-div-nav {
  gap: 2rem;
}
.div-nav {
  gap: 2rem;
}
.main-div-user {
  gap: 2rem;
}
.main-div-lang {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.div-lang {
  gap: 1rem;
}
.main-logo img {
  width: 265px;
  height: 80px;
  object-fit: contain;
}
.main-logo svg {
  display: none;
}
.main-div-user svg {
  font-size: 2rem;
  /* background-color: azure; */
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
  .main-div-header {
    background-color: green;
    gap: 1.5rem;
  }
  .main-div-nav {
  }
  .div-nav {
    gap: 2rem;
  }
  .main-div-user {
    gap: 2rem;
  }
  .main-div-lang {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  .div-lang {
    gap: 1rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .main-div-header {
    gap: 0.2rem;
    padding: 0px 5px !important;
  }
  .main-div-nav {
    gap: 1.5rem;
  }
  .div-nav {
    gap: 0.5rem;
  }
  .main-div-user {
    gap: 0.2rem;
  }
  .main-div-user svg {
    font-size: 1.2rem;
    /* background-color: azure; */
  }
  .main-div-user h5 {
    display: none;
  }
  .main-div-lang {
    gap: 0.5rem;
  }
  .div-lang {
    gap: 0.5rem;
  }
  .main-logo svg {
    display: block;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .main-div-header {
    /* background-color: red; */
    gap: 1.5rem;
  }
  .main-div-nav {
    /* background-color: yellow; */
  }
  .div-nav {
    gap: 2rem;
  }
  .main-div-user {
    gap: 2rem;
  }
  .main-div-lang {
    gap: 2rem;
  }
  .div-lang {
    gap: 1rem;
  }
}
