.main-div-header {
  gap: 1.5rem;
}
.main-div-nav {
  gap: 2rem;
}
.div-nav {
  gap: 2rem;
}
.main-div-user {
  gap: 2rem;
}
.main-div-lang {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.div-lang {
  gap: 1rem;
}
.main-logo img {
  width: 265px;
  height: 80px;
  object-fit: contain;
}
.main-logo svg {
  display: none;
}
.main-div-user svg {
  font-size: 2rem;
  /* background-color: azure; */
}
.drop-menu {
  position: absolute;
  width: 180px;
  max-height: 100%;
  top: 80px;
  right: 1.3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #ffffff;
}
.drop-menu svg {
  width: 1.5rem;
}

.drop-menu-button {
  width: 90%;
  border: none;
  background-color: #ffffff;
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.drop-menu-button:hover {
  background-color: #45c9f4;
  color: #ffffff;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  .main-div-header {
    justify-content: space-between;
    padding: 0px 0px !important;
  }

  .main-div-user svg {
    font-size: 1.2rem;
  }
  .main-div-lang {
    gap: 1.2rem;
  }
  .div-lang {
    gap: 0.3rem;
  }
  .main-div-user h5 {
    font-size: 1rem;
    color: var(--primary-color) !important;
  }
  .main-logo svg {
    display: block;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .main-div-header {
    /* gap: 5rem; */
    justify-content: space-between;
    padding: 0px 5px !important;
  }
  /* .main-div-nav {
    gap: 1.5rem;
  }
  .div-nav {
    gap: 0.5rem;
  }
  .main-div-user {
    gap: 1rem;
  }
  .main-div-user svg {
    font-size: 1.2rem;
  }
  .main-div-lang {
    gap: 2rem;
  } */
  .main-div-user h5 {
    font-size: 1.2rem;

    /* display: none; */
  }
  .main-logo svg {
    display: block;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .main-div-header {
    /* background-color: red; */
    gap: 1.5rem;
  }
  .main-div-nav {
    /* background-color: yellow; */
  }
  .div-nav {
    gap: 2rem;
  }
  .main-div-user {
    gap: 2rem;
  }
  .main-div-lang {
    gap: 2rem;
  }
  .div-lang {
    gap: 1rem;
  }
}
