.fixed-top-header {
  height: 90px;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  margin-left: 280px;
  left: -100%;
  /* border-bottom: 1px solid #F0F0F0; */
}
.fixed-sidebar {
  /* height: calc(100vh - 90px); */
  height: 100vh;
  /* Subtract the height of the top header */
  position: absolute;
  top: 0px;
  /* Offset by the height of the top header */
  width: 280px;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  left: -100%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  z-index: 2;
}
.fixed-top-header.active {
  margin-left: 0px;
  transition: all 0.5s;
  left: 0;
  -webkit-transition: all 0.5s;
}
.fixed-sidebar.active {
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.content {
  margin-left: 280px; /* Same width as the sidebar */
  height: calc(100vh - 90px); /* Subtract the height of the top header */
  overflow-y: auto;
  background-color: rgba(255, 251, 251, 0.867);
  padding: 0px 5px;
  margin-top: 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.content.active {
  margin-left: 0px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.icon-close-class {
  display: block;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  .fixed-top-header {
    margin-left: 0px;
    /* background-color: yellow; */
  }
  .fixed-top-header.active {
    margin-left: 0px;
    /* background-color: red; */
  }
  .fixed-sidebar {
    display: none;
    width: 100%;
    overflow-x: hidden;
  }
  .offcanvas-md {
    width: 250px !important;
  }
  .icon-close-class {
    display: none;
  }

  .content {
    margin-left: 0px;
  }
  .content.active {
    margin-left: 0px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .fixed-sidebar {
    /* margin-top: 4rem; */
    /* background-color: black; */
    /* width: 50%; */
  }
  .offcanvas-md {
    width: 320px !important;
  }
  .icon-close-class {
    display: none;
  }
  .fixed-top-header {
    margin-left: 0px;
  }
  .fixed-top-header.active {
    margin-left: 0px;
  }
  .content {
    margin-left: 0px;
  }
  .content.active {
    margin-left: 0px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
}
